.connectors-wrapper .forms-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* height: 100vh; */
}
.form-group {
  margin-bottom: 24px;
}
.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 16px;
  font-family: "Montserrat", serif;
}
.form-group .form-control {
  width: 100%;
  border: 1px solid #0000001a;
  background-color: #f7f7f7;
  border-radius: 4px;
  color: #ec2d02;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 9px 16px;
}
.form-group .form-control:focus {
  box-shadow: none !important;
  border-color: #000 !important;
}
.form-group .form-control::placeholder {
  color: #5e5e5e;
}
/* input:-internal-autofill-selected {
  background-color: #f7f7f7 !important;
} */
.validation {
  color: #e61e00;
}
.form-group textarea.form-control {
  resize: none;
  height: 150px;
}
.customecheckbox label {
  position: relative;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 14px;
}
.customecheckbox label::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #000;
  border-radius: 4px;
}
.customecheckbox input[type="checkbox"]:checked + label::before {
  background-color: #fff;
}
.customecheckbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  background: #000;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #000, 4px 0 0 #000, 4px -2px 0 #000, 4px -4px 0 #000,
    4px -6px 0 #000, 4px -8px 0 #000;
  transform: rotate(45deg);
}
.customecheckbox input[type="checkbox"] {
  position: absolute !important;
  opacity: 0 !important;
}
.roleslist ul {
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 25px;
}
.select.multiselectdropdown__control {
  height: 34px !important;
  min-height: 34px !important;
  background-color: #f7f7f7 !important;
}
.select.multiselectdropdown__value-container {
  background-color: transparent !important;
  margin-top: -4px !important;
  padding: 0 0 0 16px !important;
}
.select.multiselectdropdown__multi-value {
  margin: 0 !important;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 8px !important;
}
.select.multiselectdropdown__multi-value__label {
  font-size: 12px;
  color: #ec2d02;
}
.select.multiselectdropdown__multi-value__remove:hover {
  background-color: transparent !important;
}
.select.multiselectdropdown__indicator,
.css-tj5bde-Svg {
  color: #000 !important;
}

.connectors-wrapper .Collapsible__contentInner .uploadfile-btn{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.uploadFilebtn{
  border: 1px solid #0000001A;
  color:#5E5E5E;
  background-color: #F7F7F7;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 60%;
}