.connection-successful-msg {
  background-color: #000;
  border-radius: 4px;
  width: 100%;
  padding: 13px;
  text-align: center;
  margin-bottom: 20px;
}
.connection-successful-msg p {
  color: #68ff77;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  margin-bottom: 0;
}
