.uploadfile-wrapper .form-group.input-file {
  background-color: #f7f7f7;
  border: 2px dashed #000;
  border-radius: 4px;
  position: relative;
  height: 120px;
}

.uploadfile-wrapper .form-group input[type="file"] {
  /* opacity: 0; */
  visibility: hidden;
  height: 100%;
  padding: 16px;
  position: relative;
}
.uploadfile-wrapper .form-group .form-control[type=file]:before{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.uploadfile-wrapper .form-group.input-file p {
  margin-bottom: 0;
  text-align: center;
  color: #000000;
}
.fileupload-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: 0 auto;
}
